
@{
    ViewBag.Title = "Videos";
}
@model IEnumerable<BeeTube.Video>

<br />


<div class="row">
    @foreach (var video in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <a href="~/video?id=@video.Id">
                    <img src="/@video.ThumbnailUrl" class="card-img-top" alt="Video Thumbnail">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@video.Title</h5>
                    <p class="card-text">@video.Description</p>
                    <p class="card-text"><small class="text-muted">@video.UploadDate</small></p>
                </div>
            </div>
        </div>
    }
</div>

